{:deps {org.babashka/sci {:mvn/version "0.8.43"}}
 :paths ["src/clj" "src/java"]
 :aliases
 {:build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.6"}
                       org.graalvm.sdk/nativeimage {:mvn/version "24.2.1"}}
          :ns-default build}}}
